<ion-title>My Heroes</ion-title>
<!--<div>-->
<!--  <label>Hero name:-->
<!--    <input #heroName />-->
<!--  </label>-->
<!--  <button (click)="add(heroName.value); heroName.value=''">-->
<!--    add-->
<!--  </button>-->
<!--</div>-->
<ion-grid>
  <ion-row>
    <ion-col
            size="12"
        *ngFor="let hero of heroes | async"
    >
<ion-list>
  <ion-item href="/heroes/{{hero.id}}">
      <ion-avatar slot="start">
        <img [src]="hero.img">
      </ion-avatar>
      <ion-label>{{hero.name}}</ion-label>
<!--    <button class="delete" title="delete hero"-->
<!--            (click)="delete(hero)">x</button>-->
  </ion-item>
</ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
